@model IEnumerable<AutoStore.WEB.Models.OrderViewModel>



<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h4>Мои заказы</h4>
<table class="table">
    <tr>
        <th>
            @Html.Display("Запчасть")
        </th>
        <th>
            @Html.Display("Сумма")
        </th>
        <th>
            @Html.Display("Дата заказа")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Подробнее о детали", "../AutoDetail/Details", new { id = item.AutoDetailId }, new { @class = "info" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "order", FormMethod.Post, new { }))
                {
                    <input type="hidden" value="@item.Id" name="id" />
                    <input type="submit" value="Delete" class="btn btn-link" />
                }
            </td>
        </tr>
    }

</table>


@section scripts{
<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".info").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
}