@model IEnumerable<AutoStore.WEB.Models.AutoDetailViewModel>


<div id="searchresults">
    @if (Model != null && Model.Count() > 0)
    {
        <h3>Результаты поиска</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Подробнее", "../AutoDetail/Details", new { id = item.Id }, new { @class = "info" })
                        @using (Html.BeginForm("Buy", "Order", FormMethod.Post, new { }))
                        {
                            <input type="hidden" value="@item.Id" name="id" />
                            <input type="submit" value="Buy" class="btn btn-link" />
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3>Нет результатов</h3>
    }
</div>